@model List<AlzaimerApp.Data.Models.Prediction>

<h2>Geçmiş Tahminlerim</h2>

@if (Model.Count == 0)
{
    <p>Henüz tahmin yapılmamış.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tarih</th>
                <th>Dosya</th>
                <th>Tahmin</th>
                <th>Güven Oranı</th>
                <th>Görsel</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <td>@p.CreatedAt.ToString("g")</td>
                    <td>@p.FileName</td>
                    <td>@p.PredictedClass</td>
                    <td>@p.Confidence.ToString("P2")</td>

                    <td>
                        <img src="data:image/png;base64,@Convert.ToBase64String(p.ImageData)" style="max-width:100px;" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
